@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .page-header
    .header-wrap
      .navbar
        .navbar__menu
          li.navbar__logo
            width: em(198)
    
  .top-slider
    .owl-carousel__content
      top: 23%
      
      .h1
        font-size: em(50)

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .page-header .mobile-nav, #mobile-menu
      display: block
      
  .page-header
    padding-top: 0
    
    .header-wrap
      display: none
    
    .mobile-nav__logo img
      max-width: 105px
      


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .page-header
    .mobile-nav
      padding: 0
      height: 45px
    
    .mobile-nav__logo
      left: 40%
      
      img
        width: 80%
        
  .top-slider
    .owl-dots
      display: none
      
    .owl-carousel__content
      .h1
        font-size: em(40)
        


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

